@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  height: 50vh
}

figure {
  flex: 1;
  margin: 0 5px;
  position: relative;
  height: 100%;
  transition: flex 250ms;
}

figure:not(.active):hover {
  opacity: .8;
  flex: 1.1;
  cursor: pointer;
}

figure.active {
  flex: 5;
}

figure.active figcaption {
  opacity: 1;
}

figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  color: white;
  opacity: 0;
  transition: opacity 250ms;
}