@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #343A40;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    max-width: 960px;
    background: white;
    padding: 5rem 3rem 3rem;
    transform-origin: top left;
    transition: .3s;
}

    .rotated .container {
        transform: rotate(-20deg);
        transform-origin: top left;
    }

h1 {
    margin: 0 0 1em;
    font-weight: bold;
}

h2, p {
    margin: .5em 0;
}

figure {
    margin: 2em 0;
}

#toggle-nav {
    position: fixed;
    top: -80px;
    left: -80px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    color: white;
    background: #E57373;
    font-size: 32px;
    transition: .3s;
}

    .rotated #toggle-nav {
        transform: rotate(-180deg);
    }

    #toggle-nav i {
        position: absolute;
        transition: .3s;
    }

    #toggle-nav i:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    #open {
        bottom: 20%;
        right: 22.5%;
    }

    #close {
        top: 20%;
        left: 22.5%;
    }

#nav {
    position: fixed;
    bottom: 3%;
    right: 100%;
}

    #nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;
    }

    #nav li {
        padding: .5em 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        transition: .3s;
    }

        .rotated #nav li:nth-child(1) {
            transform: translateX(140%)
        }

        .rotated #nav li:nth-child(2) {
            transform: translateX(160%)
        }

        .rotated #nav li:nth-child(3) {
            transform: translateX(180%)
        }

    #nav i {
        margin-right: 1em;
    }


@media (max-width: 768px) {
    
    .rotated #nav li:nth-child(1) {
        transform: translateX(120%)
    }

    .rotated #nav li:nth-child(2) {
        transform: translateX(140%)
    }

    .rotated #nav li:nth-child(3) {
        transform: translateX(160%)
    }

}