@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    overflow-x: hidden;
}

.card {
    margin: 1em auto;
    font-family: 'Roboto', sans-serif;
    transform: translateX(150%);
    transition: .3s
}

.card.show {
    transform: translateX(0);
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}